doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/public/style.css')
    body 
        div(class="roles")
            p Роль: #{role}
            button Администрирование
        div(class="main-menu")
            h1 Образовательные организации Санкт-Петербурга
            div(class="menu-links")
                a(class="current-a") Общая статистика
                a(href="/search-by-name" class="other-a") Поиск по названию
                a(href="/extended-search" class="other-a") Расширенный поиск 